* {
   box-sizing: border-box;
   margin: 0;
   padding: 0; 
}
.container {
   margin: 0 auto;
   max-width: 800px;
}
a {
   text-decoration: none;
}
ul {
   list-style: none;
}
li {
   margin: 0 10px;
}
a,
.hero-p {
   color: #e5e7eb;
   font-size: 18px;
}
.header-logo {
   font-size: 24px;
}
header,
ul,
.hero,
.food,
figure,
.quote {
   display: flex;
}
header {
   justify-content: space-between;
   align-items: center;
   height: 40px;
}
.header,
.section-1 {
   background-color: #1f2937;  
}
.hero-h1 {
   font-size: 48px;
   font-weight: extra-bold;
}
.hero {
   height: 400px;
   align-items: center;
}
button {
background-color: #3882f6;
padding: 5px 20px;
border: none;
border-radius: 5px;
margin-top: 10px;
}
button,
.hero-h1,
.header-logo {
   color: #f9faf8;
}
h2 {
   font-size: 32px;
   font-weight: extra-bold;
   color: #1f2937;
   text-align: center;
   padding: 30px;
}
figure {
   flex-direction: column;
}
.section-2 {
   height: 350px;

}
figcaption {
   width: 150px;
   text-align: center;
}
.food {
   justify-content: space-around;
}
figure img {
   border-radius: 10px;
}
.section-3 {
   background-color: #e5e7eb;
}
.quote-text {
   font-size: 36px;
   font-weight: lighter;
   font-style: italic;
   color: #1f2937;
}
.quote {
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 300px;
   width: 600px;
}
.quote-author {
   align-self: flex-end;
}